<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>


<div id="lander-section">
  {% section 'lander-logo'%}
  {% section 'lander-productpage'%}
  {% section 'lander-social'%}
  {% section 'lander-hero-section'%}
  {% section 'lander-media'%}
  {% section 'lander-demo'%}
  {% section 'lander-product-satisfaction'%}
  {% section 'lander-lifestyle'%}
  {% section 'lander-benefits'%}
  {% section 'lander-influencer'%}
  {% section 'lander-instagram'%}
  {% section 'lander-cta'%} 
  {% section 'lander-footer'%} 
  
  <!--    -->
  {% section 'lander-settings'%} 
</div>


     